* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .parent {
    max-width: 800px;
    background-color: #eee;
    margin: 30px;
  }
  
  .parent div {
    background-color: #ddd;
    padding: 15px;
    display: inline-block;
    text-align: center;
    float: left;
  }
  
  .parent .clear {
    clear: both;
  }
  
  .parent .full {
    width: calc(100% - 30px);
    margin: 15px;
  }
  
  .parent .third {
    width: calc((100% - 60px)/3);
    margin: 0px 0px 15px 15px;
  }
  
  .parent .twice {
    width: calc((100% - 45px)/2);
    margin-left: 15px;
  }
  
  .parent .fourth {
    width: calc((100% - 75px)/4);
    margin: 15px 0px 15px 15px;
  }